*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

html {
    height: 100%;
    background: linear-gradient(0deg, rgb(27, 39, 54), rgb(86, 132, 190) 80%) ;
}

body {
    padding: 0;
    margin: 0; 
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(6,100px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none;
    background-color: rgba(255, 255, 255 , .75);
    border-radius: 8px;
}

.calc-grid > button:hover {
    background-color: rgba(245, 135, 135, 0.75);
}

.span-two {
    grid-column: span 2;
}